<h2 mat-dialog-title>{{ 'student.editTitle' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="editStudentForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="studentName">{{ 'student.studentNameLabel' | translate }}</label>
      <input pInputText id="studentName" formControlName="studentName" class="p-inputtext" />
      <div *ngIf="editStudentForm.get('studentName')?.invalid && editStudentForm.get('studentName')?.touched"
        class="error">
        <small *ngIf="editStudentForm.get('studentName')?.errors?.['required']">{{ 'student.studentNameRequired' | translate }}</small>
      </div>
    </div>

    <div class="mat-dialog-actions">
      <button mat-button mat-dialog-close>{{ 'student.cancel' | translate }}</button>
      <button mat-button color="primary" [disabled]="editStudentForm.invalid" type="submit">{{ 'student.save' | translate }}</button>
    </div>
  </form>
</mat-dialog-content>
