<form [formGroup]="schoolForm">
  <p-divider align="left">
    <h3 class="p-text-center p-mt-5 p-mb-3">{{ 'school.schoolDetails' | translate }}</h3>
  </p-divider>
  <div class="row g-2 px-4">
    <!-- School Name -->
    <div class="p-field col-12">
      <label for="schoolName" class="d-block mb-2">{{ 'school.schoolName' | translate }}</label>
      <input id="schoolName" pInputText formControlName="schoolName" class="d-block p-inputtext-lg w-100"
        placeholder="{{ 'school.schoolName' | translate }}" />
      <small *ngIf="schoolForm.get('schoolName')?.invalid && schoolForm.get('schoolName')?.touched" class="p-error">
        {{ 'school.schoolNameRequired' | translate }}
      </small>
    </div>
  </div>

  <p-divider align="left">
    <h3 class="p-text-center p-mt-5 p-mb-3">{{ 'school.subscriptionDetails' | translate }}</h3>
  </p-divider>
  <div class="row g-2 px-4">
    <!-- Subscription Fees -->
    <div class="p-field col-12 col-md-8">
      <label for="subscriptionFees" class="d-block mb-2">{{ 'school.subscriptionFees' | translate }}</label>
      <input id="subscriptionFees" pInputText formControlName="subscriptionFees"
        class="d-block p-inputtext-lg w-100" placeholder="{{ 'school.subscriptionFees' | translate }}" />
      <small *ngIf="schoolForm.get('subscriptionFees')?.invalid && schoolForm.get('subscriptionFees')?.touched"
        class="p-error">
        {{ 'school.subscriptionFeesRequired' | translate }}
      </small>
    </div>

    <!-- Currency -->
    <div class="p-field col-12 col-md-4">
      <label for="currency" class="d-block mb-2">{{ 'school.currency' | translate }}</label>
      <app-lazy-dropdown for="currency" [lookup]="Lookup.Currency" formControlName="currencyOfSubscription"></app-lazy-dropdown>
      <small *ngIf="schoolForm.get('currencyOfSubscription')?.invalid && schoolForm.get('currencyOfSubscription')?.touched"
      class="p-error">
        {{ 'school.currencyRequired' | translate }}
      </small>
    </div>

    <!-- Subscription Way -->
    <div class="p-field col-12">
      <label for="subscriptionWay" class="d-block mb-2">{{ 'school.subscriptionWay' | translate }}</label>
      <p-dropdown id="subscriptionWay" [options]="subscriptionWay" [filter]="true"
      placeholder="{{ 'school.subscriptionWay' | translate }}" appendTo="body" optionLabel="label" formControlName="subscriptionWay">
      </p-dropdown>
      <small *ngIf="schoolForm.get('subscriptionWay')?.invalid && schoolForm.get('subscriptionWay')?.touched"
      class="p-error">
        {{ 'school.subscriptionWayRequired' | translate }}
      </small>
    </div>
  </div>

  <!-- Admin Section -->
  <div>
    <p-divider align="left">
      <h3 class="p-text-center p-mt-5 p-mb-3">{{ 'school.adminDetails' | translate }}</h3>
    </p-divider>

    <div class="row g-2 px-4">
      <!-- Admin Username -->
      <div class="p-field col-12 col-md-6">
        <label for="adminUserName" class="d-block mb-2">{{ 'school.adminUserName' | translate }}</label>
        <input id="adminUserName" pInputText formControlName="adminUserName" class="d-block p-inputtext-lg w-100"
          placeholder="{{ 'school.adminUserName' | translate }}" />
        <small *ngIf="schoolForm.get('adminUserName')?.invalid && schoolForm.get('adminUserName')?.touched"
          class="p-error">
          {{ 'school.adminUserNameRequired' | translate }}
        </small>
      </div>

      <!-- Admin Email -->
      <div class="p-field col-12 col-md-6">
        <label for="adminEmail" class="d-block mb-2">{{ 'school.adminEmail' | translate }}</label>
        <input id="adminEmail" pInputText formControlName="adminEmail" class="d-block p-inputtext-lg w-100"
          placeholder="{{ 'school.adminEmail' | translate }}" />
        <small *ngIf="schoolForm.get('adminEmail')?.invalid && schoolForm.get('adminEmail')?.touched" class="p-error">
          {{ 'school.adminEmailRequired' | translate }}
        </small>
      </div>
    </div>
  </div>
</form>
