<app-state-section [state]="sectionState">
  <h1 mat-dialog-title>{{ 'school.addStudents' | translate }}</h1>

  <div mat-dialog-content>
    <form [formGroup]="addStudentForm" class="d-flex flex-column gap-3">

      <input type="hidden" formControlName="classRoom" *ngIf="data.classRoomId" />

      <div class="field d-flex flex-column gap-2" *ngIf="!data.classRoomId">
        <label for="room" class="form-label">{{ 'school.room' | translate }}</label>
        <app-lazy-dropdown id="room"
          [lookup]="Lookup.ClassRooms"
          formControlName="classRoom"
          [placeholder]="'school.enterRoomName' | translate"></app-lazy-dropdown>
        <small *ngIf="addStudentForm.get('classRoom')?.hasError('required') && addStudentForm.get('classRoom')?.touched"
          class="p-error">
          {{ 'school.roomRequired' | translate }}
        </small>
      </div>

      <input type="hidden" formControlName="classRoom" *ngIf="data.studentId" />

      <div class="field d-flex flex-column gap-2" *ngIf="!data.studentId">
        <label for="student" class="form-label">{{ 'school.student' | translate }}</label>
        <app-lazy-dropdown id="student"
          [lookUpExtraParams]="{existClassRoom:true}"
          [multiply]="!data.studentId ? true : false"
          [lookup]="Lookup.Students"
          formControlName="student"
          [placeholder]="'school.enterStudentName' | translate"></app-lazy-dropdown>
        <small *ngIf="addStudentForm.get('student')?.hasError('required') && addStudentForm.get('student')?.touched"
          class="p-error">
          {{ 'school.studentRequired' | translate }}
        </small>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'school.cancel' | translate }}</button>
    <button mat-button [disabled]="addStudentForm.invalid" (click)="onSave()">
      {{ 'school.save' | translate }}
    </button>
  </div>
</app-state-section>
