<app-state-section [state]="sectionState">
  <p-card>
    <form [formGroup]="emailForm" class="p-fluid" (ngSubmit)="sendEmail()">
      <!-- Receivers -->
      <div class="d-flex flex-wrap gap-3 field" *grantAccess="RolesConstants.SEND_FROM_ADMIN">
        <div class="d-flex align-items-center gap-2" *ngFor="let role of roles">
          <p-radioButton
            name="role"
            [value]="role"
            inputId="{{ role }}"
            formControlName="role"
          />
          <label for="{{ role }}">{{ 'email.role.' + role  | translate }}</label>
        </div>
      </div>

      <div class="field">
        <label for="receivers">{{ 'email.receivers' | translate }}</label> <!-- Use wrapped translation key -->
        <app-lazy-dropdown
          for="receivers"
          [multiply]="true"
          [lookup]="Lookup.Users"
          [lookUpExtraParams]="lookUpExtraParams"
          formControlName="receiverIds"
          [placeholder]="'email.receivers' | translate"
        ></app-lazy-dropdown>
        <small *ngIf="emailForm.get('receiverIds')?.hasError('required') && emailForm.get('receiverIds')?.touched" class="p-error">
          {{ 'email.receiversRequired' | translate }} <!-- Use wrapped translation key -->
        </small>
      </div>

      <!-- Domain -->
      <div class="field">
        <label for="domain">{{ 'email.domain' | translate }}</label> <!-- Use wrapped translation key -->
        <input
          id="domain"
          pInputText
          formControlName="domain"
          class="p-inputtext p-component"
          [placeholder]="'email.emailDomain' | translate"
        />
        <small *ngIf="emailForm.get('domain')?.hasError('required') && emailForm.get('domain')?.touched" class="p-error">
          {{ 'email.domainRequired' | translate }} <!-- Use wrapped translation key -->
        </small>
      </div>

      <!-- Content -->
      <div class="field">
        <label for="content">{{ 'email.content' | translate }}</label> <!-- Use wrapped translation key -->
        <textarea
          id="content"
          pInputTextarea
          formControlName="content"
          rows="6"
          class="p-inputtext p-component"
          [placeholder]="'email.emailContent' | translate"
        ></textarea>
        <small *ngIf="emailForm.get('content')?.hasError('required') && emailForm.get('content')?.touched" class="p-error">
          {{ 'email.contentRequired' | translate }} <!-- Use wrapped translation key -->
        </small>
      </div>

      <!-- Submit Button -->
      <div class="field">
        <button pButton type="submit" label="{{ 'email.sendEmail' | translate }}" [disabled]="emailForm.invalid" class="p-button-success"></button> <!-- Use wrapped translation key -->
      </div>
    </form>
  </p-card>
</app-state-section>
