<h2 mat-dialog-title>{{ 'resetPasswordDialog.title' | translate }}</h2>
<mat-dialog-content>
  <span>{{ 'resetPasswordDialog.userText' | translate }} {{data.user.userName}}</span>
  <p>{{ 'resetPasswordDialog.confirmationText' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close="">{{ 'resetPasswordDialog.cancelButton' | translate }}</button>
  <button mat-button color="warn" (click)="onConfirm()">{{ 'resetPasswordDialog.confirmButton' | translate }}</button>
</mat-dialog-actions>
