<mat-card>
  <mat-card-content>
    <app-state-section [state]="sectionState">
      <!-- Your content here -->
      <div class="content">
        <p>Content that should be displayed even when loading transparent.</p>
        <p>Content that should be displayed even when loading transparent.</p>
        <p>Content that should be displayed even when loading transparent.</p>
        <p>Content that should be displayed even when loading transparent.</p>
      </div>
    </app-state-section> </mat-card-content>
</mat-card>