<div class="dropdown">
  <p-dropdown *ngIf="!multiply" [options]="dropdownOptions" [lazy]="true" (onShow)="onDropdownOpen()" (onHide)="onDropdownClose()" [filter]="true"
    [placeholder]="placeholder" appendTo="body" optionLabel="label" [(ngModel)]="selectedOption"
    (onChange)="onOptionSelect($event)">
  </p-dropdown>

  <p-multiSelect *ngIf="multiply" [options]="dropdownOptions" [lazy]="true" (onPanelShow)="onDropdownOpen()" (onPanelHide)="onDropdownClose()"
    [filter]="true" [placeholder]="placeholder" appendTo="body" optionLabel="label" [(ngModel)]="selectedOption"
    (onChange)="onOptionSelect($event)">
  </p-multiSelect>
</div>
