<app-state-section [state]="sectionState">
  <h1 mat-dialog-title>{{ 'addTopicDialog.title' | translate }}</h1>

  <div mat-dialog-content>
    <form [formGroup]="addTopicForm" class="d-flex flex-column gap-3">

      <input type="hidden" formControlName="room" *ngIf="!data.addRoom" />

      <div class="field d-flex flex-column gap-2" *ngIf="data.addRoom">
        <label for="room" class="form-label">{{ 'addTopicDialog.roomLabel' | translate }}</label>
        <app-lazy-dropdown [lookup]="Lookup.ClassRooms" formControlName="room"
          [placeholder]=" 'addTopicDialog.roomPlaceholder' | translate"></app-lazy-dropdown>
        <small *ngIf="addTopicForm.get('room')?.hasError('required') && addTopicForm.get('room')?.touched" class="p-error">
          {{ 'addTopicDialog.roomRequiredError' | translate }}
        </small>
      </div>

      <div class="field d-flex flex-column gap-2">
        <label for="subject" class="form-label">{{ 'addTopicDialog.subjectLabel' | translate }}</label>
        <app-lazy-dropdown [lookup]="Lookup.Subjects" formControlName="subjectId"
          [placeholder]=" 'addTopicDialog.subjectPlaceholder' | translate"></app-lazy-dropdown>
        <small *ngIf="addTopicForm.get('subjectId')?.hasError('required') && addTopicForm.get('subjectId')?.touched" class="p-error">
          {{ 'addTopicDialog.subjectRequiredError' | translate }}
        </small>
      </div>

      <div class="field d-flex flex-column gap-2">
        <label for="topic" class="form-label">{{ 'addTopicDialog.topicLabel' | translate }}</label>
        <input id="topic" type="text" pInputText
          [placeholder]=" 'addTopicDialog.topicPlaceholder' | translate"
          formControlName="topicName" class="p-inputtext-sm" />
        <small *ngIf="addTopicForm.get('topicName')?.hasError('required') && addTopicForm.get('topicName')?.touched" class="p-error">
          {{ 'addTopicDialog.topicRequiredError' | translate }}
        </small>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'addTopicDialog.cancelButton' | translate }}</button>
    <button mat-button [disabled]="addTopicForm.invalid" (click)="onSave()">{{ 'addTopicDialog.saveButton' | translate }}</button>
  </div>
</app-state-section>
