<p-splitButton *grantAccess="RolesConstants.ADD_PROGRESS_AND_DEGREE" [severity]="setDegreeColor( domain.progressStatus || 'secondary')" [label]="'student.progressStatus.' + domain.progressStatus | translate" appendTo="body" [model]="progressStatusOptions" size="small"
  rounded severity="secondary" />

<p-tag *grantAccess="RolesConstants.VIEW_PROGRESS_AND_DEGREE" [severity]="setDegreeColor( domain.progressStatus || 'secondary')">{{ "student.progressStatus." + domain.progressStatus | translate}}</p-tag>
