<p-card header="Add New Student" class="add-student-card">
  <app-state-section [state]="sectionState">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <!-- Student Name -->
      <div class="form-group">
        <label for="studentName">Student Name</label>
        <input id="studentName" pInputText formControlName="studentName" placeholder="Enter Student Name" />
        <div *ngIf="studentForm.controls['studentName'].invalid && studentForm.controls['studentName'].touched"
          class="error mt-1">
          Student Name is required
        </div>
      </div>

      <!-- Parent ID -->
      <div class="form-group">
        <label for="parentId">Parent ID</label>
        <app-lazy-dropdown id="parentId" [lookup]="lookup.Users" [lookUpExtraParams]="{ role:'parent'}"
          formControlName="parentId" placeholder="Enter Parent ID"></app-lazy-dropdown>
        <div *ngIf="studentForm.controls['parentId'].invalid && studentForm.controls['parentId'].touched"
          class="error mt-1">
          Parent is Required
        </div>
      </div>

      <!-- Submit Button -->
      <button pButton type="submit" class="w-100" label="Add Student" [disabled]="studentForm.invalid"></button>
    </form>
  </app-state-section>
</p-card>