<p-card header="Add Classroom" class="classroom-card">
  <app-state-section [state]="sectionState">
    <form [formGroup]="classroomForm" (ngSubmit)="onSubmit()">

      <!-- Room Input -->
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <div class="field">
            <label for="room" class="form-label">Room</label>
            <input id="room" type="text" pInputText formControlName="room" placeholder="Enter room number"
              class="p-inputtext-sm" />
          </div>
        </div>

        <!-- Student Cost -->
        <div class="p-col-12 p-md-6">
          <div class="field">
            <label for="studentCost" class="form-label">Student Cost</label>
            <input id="studentCost" type="number" class="w-100" pInputText formControlName="studentCost"
              placeholder="Enter Cost" class="p-inputtext-sm" />
          </div>
        </div>
      </div>

      <!-- Teachers MultiSelect -->
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
          <div class="field">
            <label for="teachers" class="form-label">Teachers</label>
            <app-lazy-dropdown [multiply]="true" id="teachers" [lookup]="Lookup.Users"
              [lookUpExtraParams]="{role:UserRole.Teacher}" formControlName="teachersId"></app-lazy-dropdown>
          </div>
        </div>

        <!-- Group -->
        <div class="p-col-12 p-md-6">
          <div class="field">
            <label for="group" class="form-label">Group</label>
            <app-lazy-dropdown id="group" [lookup]="Lookup.Groups" formControlName="group"
              placeholder="Enter Group"></app-lazy-dropdown>
          </div>
        </div>
      </div>

      <!-- Schedule Section -->
      <p-divider align="left">
        <b>Class Schedule</b>
      </p-divider>

      <div class="row g-2 mb-4">
        <div formArrayName="schedule" class="schedule-section col-lg-6 col-xl-4 col-12"
          *ngFor="let scheduleItem of scheduleControls.controls; let i = index">
          <div [formGroupName]="i" class="schedule-item">
            <div class="mb-4">
              <label for="day-{{i}}" class="form-label">Day</label>
              <app-lazy-dropdown [lookup]="days" placeholder="Select Day" id="day-{{i}}"
                formControlName="day"></app-lazy-dropdown>
            </div>

            <div class="subjects-section">
              <label class="form-label">Subjects</label>
              <p-divider>
              </p-divider>
              <div formArrayName="subjects" *ngFor="let subject of getSubjects(i).controls; let j = index">
                <div [formGroupName]="j" class="mb-2">
                  <div class="row">

                    <div class="col-5">
                      <label for="subject-{{i}}-{{j}}" class="form-label">Subject</label>
                      <app-lazy-dropdown [lookup]="Lookup.Subjects" id="subject-{{i}}-{{j}}" formControlName="subjectId"
                        placeholder="Enter subject"></app-lazy-dropdown>
                    </div>
                    <div class="col-5">
                      <label for="startTime-{{i}}-{{j}}" class="form-label">Start Time</label>

                      <p-calendar formControlName="startTime" id="startTime-{{i}}-{{j}}" timeOnly hourFormat="24"
                        placeholder="Start Time" class="p-inputtext-sm"></p-calendar>
                    </div>
                    <div class="col-1">
                      <button *ngIf="getSubjects(i).controls.length > 1" pButton icon="pi pi-trash" [rounded]="true"
                        [text]="true" severity="danger" class="p-button-danger mt-4" (click)="removeSubject(i, j)"
                        type="button"></button>
                    </div>
                  </div>
                </div>
              </div>
              <p-divider align="left">
                <button pButton icon="pi pi-plus" (click)="addSubject(i)" [rounded]="true" [text]="true"
                  type="button"></button>
              </p-divider>
            </div>
            <button *ngIf="scheduleControls.length > 1" pButton icon="pi pi-trash" class="p-button-danger mt-2 w-100"
              (click)="removeScheduleItem(i)" type="button"></button>
          </div>
        </div>

        <div class="schedule-section col-lg-6 col-xl-4 col-12 d-flex justify-content-center align-items-center">
          <button pButton icon="pi pi-plus" class="p-button-lg mt-0" [rounded]="true" [outlined]="true"
            (click)="addScheduleItem()" type="button"></button>
        </div>
      </div>

      <!-- Main Topics -->
      <div class="p-grid w-100">
        <div class="p-col-12 w-100">
          <div class="field w-100">
            <label for="mainTopics" class="form-label">Main Topics</label>
            <app-lazy-dropdown [multiply]="true" [lookup]="Lookup.Topics" placeholder="Enter topics" id="mainTopics"
              formControlName="mainTopics"></app-lazy-dropdown>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="p-grid">
        <div class="p-col-12">
          <button pButton type="submit" [disabled]="classroomForm.invalid" label="Add Classroom"
            class="p-button-primary w-100 p-button-lg"></button>
        </div>
      </div>
    </form>
  </app-state-section>
</p-card>
