<h2 mat-dialog-title>{{ 'topic.editTopicName' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="topicName">{{ 'topic.topicName' | translate }}</label>
      <input pInputText id="topicName" formControlName="topicName" class="p-inputtext" />
      <div *ngIf="topicForm.get('topicName')?.invalid && topicForm.get('topicName')?.touched" class="error">
        <small *ngIf="topicForm.get('topicName')?.errors?.['required']">{{ 'topic.topicNameRequired' | translate }}</small>
        <small *ngIf="topicForm.get('topicName')?.errors?.['minlength']">{{ 'topic.topicNameMinLength' | translate }}</small>
      </div>
    </div>
    <div class="mat-dialog-actions">
      <button mat-button mat-dialog-close>{{ 'topic.cancel' | translate }}</button>
      <button mat-button [disabled]="topicForm.invalid" type="submit">{{ 'topic.update' | translate }}</button>
    </div>
  </form>
</mat-dialog-content>
