<div class="container services-main-block mb-5">
  <h2 class="text-center mb-3">{{'OurServices' | translate}}</h2>
  <div id="services-main-row">
    <mat-card class="service" data-aos="fade-left">
      <mat-card-content>
        <div class="service-column">
          <i class="bi bi-cpu"></i>
          <h1 class="text-center">{{'Service1' | translate}}</h1>
          <p class="text-center">{{'Service1Text' | translate}}</p>
          <a href="#" title="Service 1">{{'LearnMore' | translate}}</a>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="service" data-aos="fade-right">
      <mat-card-content>
        <div class="service-column">
          <i class="bi bi-clipboard-data"></i>
          <h1 class="text-center">{{'Service2' | translate}}</h1>
          <p class="text-center text-">{{'Service2Text' | translate}}</p>
          <a href="#" title="service1">{{'LearnMore' | translate}}</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>