<p-card header="Add New User">
  <app-state-section [state]="sectionState">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid ">
        <div class="my-4">
          <label for="userName">Username</label>
          <input id="userName" type="text" pInputText formControlName="userName" />
          <small *ngIf="userForm.controls['userName'].invalid && userForm.controls['userName'].touched"
            class="p-error">Username is required</small>
        </div>

        <div class="my-4">
          <label for="email">Email</label>
          <input id="email" type="email" pInputText formControlName="email" />
          <small *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="p-error">Enter
            a
            valid email</small>
        </div>

        <div class="my-4">
          <label for="role">Role</label>
          <app-lazy-dropdown [lookup]="Lookup.Roles" formControlName="role"
            placeholder="Select a Role"></app-lazy-dropdown>
          <small *ngIf="userForm.controls['role'].invalid && userForm.controls['role'].touched" class="p-error">Role is
            required</small>
        </div>

        <div class="my-4">
          <button pButton type="submit" label="Add User" class="p-button-primary"
            [disabled]="userForm.invalid"></button>
        </div>
      </div>
    </form>
  </app-state-section>
</p-card>
