<app-state-section [state]="sectionState">
  <h2 mat-dialog-title>{{ 'invoice.editInvoice' | translate }}</h2>

  <mat-dialog-content>
    <form [formGroup]="invoiceForm" class="d-flex flex-column gap-3">
      <!-- Media Upload Section -->
      <div class="field">
        <label for="media">{{ 'invoice.attachMedia' | translate }}</label>
        <p-fileUpload name="media" accept="image/*" maxFileSize="1000000" (onSelect)="onFileSelect($event)"
          [customUpload]="true" (onClear)="clearFile()" [showUploadButton]="false" (onRemove)="clearFile()">

          <ng-template pTemplate="content">
            <div class="w-100 d-flex justify-content-center">
              <!-- Image Preview Section -->
              <img *ngIf="previewImage" (click)="openMediaDialog(previewImage)" [src]="previewImage" alt="Image Preview"
                class="img-fluid" style="max-width: 200px; height: auto;" />
            </div>
          </ng-template>
        </p-fileUpload>

        <!-- Error Message for Invalid Media -->
        <small *ngIf="imageError" class="p-error">{{ imageError }}</small>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'invoice.cancel' | translate }}</button>
    <button mat-button [disabled]="invoiceForm.invalid" (click)="onSubmit()">{{ 'invoice.save' | translate }}</button>
  </mat-dialog-actions>
</app-state-section>
