<p-card>
  <app-state-section [state]="sectionState">
    <p-panel class="subject-panel">
      <ng-template pTemplate="header">
        <div class="w-100 d-flex justify-content-between align-items-center">
          <span class="fw-bold">{{ 'subject.information' | translate }}</span>
          <div>
            <p-menu #menu [model]="subjectAction" appendTo="body" [popup]="true">
              <ng-template pTemplate="item" let-item>
                <div class="p-menuitem-link" (click)="handleClick(item.label)">
                  <span [class]="item.icon"></span>
                  <span class="mx-2">{{ item.label }}</span>
                </div>
              </ng-template>
            </p-menu>
            <p-button (onClick)="menu.toggle($event)" text label="{{ 'subject.edit' | translate }}" icon="pi pi-spin pi-cog" />
          </div>
        </div>
      </ng-template>

      <div class="subject-details">
        <div class="subject-detail-row">
          <label>{{ 'subject.subjectName' | translate }}:</label>
          <p>{{ subject.subjectName || ('subject.n/a' | translate) }}</p>
        </div>

        <div class="subject-detail-row">
          <label>{{ 'subject.courseTime' | translate }}:</label>
          <p>{{ subject.courseTime || ('subject.n/a' | translate) }}</p>
        </div>

        <div class="subject-detail-row">
          <label>{{ 'subject.typeOfTime' | translate }}:</label>
          <p-tag *ngIf="subject.typeOfTime" value="{{ subject.typeOfTime }}" severity="info"></p-tag>
        </div>

        <div class="subject-detail-row">
          <label>{{ 'subject.createdAt' | translate }}:</label>
          <p>{{ subject.createdAt ? (subject.createdAt | date:'longDate') : ('subject.n/a' | translate) }}</p>
        </div>

        <div class="subject-detail-row">
          <label>{{ 'subject.updatedAt' | translate }}:</label>
          <p>{{ subject.updatedAt ? (subject.updatedAt | date:'longDate') : ('subject.n/a' | translate) }}</p>
        </div>
      </div>
    </p-panel>
  </app-state-section>
</p-card>
