<app-state-section [state]="sectionState">
  <div class="d-flex justify-content-between align-items-center px-3 pt-3">
    <h2>{{ 'eventsList.title' | translate }}</h2>
    <p-button *grantAccess="RolesConstants.ADD_EVENT_AND_SHOW_DETAILS"
              label="{{ 'eventsList.addNewEvent' | translate }}"
              severity="success"
              (onClick)="AddNewEventDialog()" />
  </div>

  <p-panel *ngFor="let event of events" [toggler]="'header'" [toggleable]="true" [collapsed]="true" class="mb-3">
    <ng-template pTemplate="header">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h4>{{ event.eventName }}</h4>
          <p>{{ event.date | date: 'medium' }}</p>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="d-flex justify-content-between align-items-center">
        <p>{{ event.description }}</p>

        <div>
          <span *ngIf="event.response && event.response !== 'Not Response'" class="badge bg-success py-2 px-3">
            <p-tag [severity]="setResColor(event.response || 'secondary')">{{ event.response }}</p-tag>
          </span>

          <app-lazy-dropdown
            *ngIf="!event.response || event.response === 'Not Response'"
            [lookup]="Lookup.EventResponse"
            [(ngModel)]="eventResponse"
            (ngModelChange)="updateResponse($event , event)"
            [placeholder]="'eventsList.selectResponse' | translate"
          ></app-lazy-dropdown>
        </div>
      </div>

      <p-accordion (onOpen)="getEventDetails(event)" *grantAccess="RolesConstants.ADD_EVENT_AND_SHOW_DETAILS">
        <p-accordionTab header="{{ 'eventsList.moreDetails' | translate }}">
          <div class="event-details" *ngIf="event.eventDetails">
            <p-accordion>
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <span>{{ 'eventsList.totalNoResponse' | translate }}:
                    <p-tag [severity]="setResColor('not response')"><h5>{{ event.eventDetails.totalNoResponse }}</h5></p-tag>
                  </span>
                </ng-template>
                <div>
                  <ul>
                    <li *ngFor="let noResponse of event.eventDetails?.notResponse">{{ noResponse.username }}</li>
                  </ul>
                </div>
              </p-accordionTab>
            </p-accordion>

            <p-divider></p-divider>

            <p-accordion>
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <span>{{ 'eventsList.totalAttending' | translate }}:
                    <p-tag [severity]="setResColor('Accept')"><h5>{{ event.eventDetails.totalAttending }}</h5></p-tag>
                  </span>
                </ng-template>
                <div>
                  <ul>
                    <li *ngFor="let attendee of event.eventDetails?.attendees">{{ attendee.username }}</li>
                  </ul>
                </div>
              </p-accordionTab>
            </p-accordion>

            <p-divider></p-divider>

            <p-accordion>
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <span>{{ 'eventsList.totalRejected' | translate }}:
                    <p-tag [severity]="setResColor('Reject')"><h5>{{ event.eventDetails.totalRejected }}</h5></p-tag>
                  </span>
                </ng-template>
                <div>
                  <ul>
                    <li *ngFor="let rejected of event.eventDetails?.rejected">{{ rejected.username }}</li>
                  </ul>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </p-accordionTab>
      </p-accordion>
    </ng-template>
  </p-panel>

  <span class="m-auto" *ngIf="!events.length">{{ 'eventsList.noEvents' | translate }}</span>
</app-state-section>
