<p-card header="Add New Subject">
  <app-state-section [state]="sectionState">
    <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="my-3">
          <label for="subjectName">Subject Name</label>
          <input id="subjectName" type="text" pInputText formControlName="subjectName" />
          <small *ngIf="subjectForm.controls['subjectName'].invalid && subjectForm.controls['subjectName'].touched"
            class="p-error">Subject name is required</small>
        </div>

        <div class="my-3">
          <label for="courseTime">Course Time (in Minutes)</label>
          <input id="courseTime" type="number" pInputText formControlName="courseTime" />
          <small *ngIf="subjectForm.controls['courseTime'].invalid && subjectForm.controls['courseTime'].touched"
            class="p-error">Course time is required and should be a valid number</small>
        </div>

        <div class="my-3">
          <button pButton type="submit" label="Add Subject" class="p-button-primary"
            [disabled]="subjectForm.invalid"></button>
        </div>
      </div>
    </form>
  </app-state-section>
</p-card>