<app-state-section [state]="sectionState">
  <h1 mat-dialog-title>{{ 'addActivityDialog.title' | translate }}</h1>

  <div mat-dialog-content>
    <form [formGroup]="addActivityForm" class="d-flex flex-column gap-3">

      <input type="hidden" formControlName="room" *ngIf="!data.addRoom" />

      <div class="field d-flex flex-column gap-2" *ngIf="data.addRoom">
        <label for="room" class="form-label">{{ 'addActivityDialog.roomLabel' | translate }}</label>
        <app-lazy-dropdown [lookup]="Lookup.ClassRooms" formControlName="room"
          [placeholder]=" 'addActivityDialog.roomPlaceholder' | translate"></app-lazy-dropdown>
        <small *ngIf="addActivityForm.get('room')?.hasError('required') && addActivityForm.get('room')?.touched" class="p-error">
          {{ 'addActivityDialog.roomRequiredError' | translate }}
        </small>
      </div>

      <div class="field d-flex flex-column gap-2">
        <label for="skill" class="form-label">{{ 'addActivityDialog.skillLabel' | translate }}</label>
        <app-lazy-dropdown [lookup]="Lookup.Skill" formControlName="skillId"
          [placeholder]=" 'addActivityDialog.skillPlaceholder' | translate"></app-lazy-dropdown>
        <small *ngIf="addActivityForm.get('skillId')?.hasError('required') && addActivityForm.get('skillId')?.touched" class="p-error">
          {{ 'addActivityDialog.skillRequiredError' | translate }}
        </small>
      </div>

      <div class="field d-flex flex-column gap-2">
        <label for="activity" class="form-label">{{ 'addActivityDialog.activityLabel' | translate }}</label>
        <input id="activity" type="text" pInputText
          [placeholder]=" 'addActivityDialog.activityPlaceholder' | translate"
          formControlName="activityName" class="p-inputtext-sm" />
        <small *ngIf="addActivityForm.get('activityName')?.hasError('required') && addActivityForm.get('activityName')?.touched" class="p-error">
          {{ 'addActivityDialog.activityRequiredError' | translate }}
        </small>
      </div>

      <div class="field d-flex flex-column gap-2">
        <label class="form-label">{{ 'addActivityDialog.materialLabel' | translate }}</label>

        <div formArrayName="materials">
          <div *ngFor="let material of materials.controls; let i = index" [formGroupName]="i" class="d-flex gap-2 align-items-center">
            <input
              id="material-{{ i }}"
              type="text"
              pInputText
              [placeholder]="'addActivityDialog.materialPlaceholder' | translate"
              formControlName="materialName"
              class="p-inputtext-sm mb-1"
            />
            <button *ngIf="materials.length > 1" type="button" pButton icon="pi pi-trash" class="p-button-danger p-button-sm" (click)="removeMaterial(i)">
            </button>
          </div>
        </div>
        <button type="button" pButton label="{{ 'addActivityDialog.addMaterial' | translate }}" class="p-button-sm mt-2" (click)="addMaterial()"></button>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'addActivityDialog.cancelButton' | translate }}</button>
    <button mat-button [disabled]="addActivityForm.invalid" (click)="onSave()">{{ 'addActivityDialog.saveButton' | translate }}</button>
  </div>
</app-state-section>
