<p-card [header]="'subject.subjectsList' | translate" class="subjects-card">
  <app-state-section [state]="sectionState">
    <p-table [value]="subjects" [paginator]="true" [rows]="pageSize" [totalRecords]="totalRowsCount"
      (onPage)="paginate($event)" [rowsPerPageOptions]="rowsPerPageOptions" [sortMode]="'single'" [dataKey]="'_id'">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="subjectName">{{ 'subject.subjectName' | translate }} <p-sortIcon field="subjectName"></p-sortIcon></th>
          <th pSortableColumn="courseTime">{{ 'subject.courseTime' | translate }} <p-sortIcon field="courseTime"></p-sortIcon></th>
          <th pSortableColumn="typeOfTime">{{ 'subject.typeOfTime' | translate }} <p-sortIcon field="typeOfTime"></p-sortIcon></th>
          <th pSortableColumn="createdAt">{{ 'subject.createdAt' | translate }} <p-sortIcon field="createdAt"></p-sortIcon></th>
          <th pSortableColumn="updatedAt">{{ 'subject.updatedAt' | translate }} <p-sortIcon field="updatedAt"></p-sortIcon></th>
          <th>{{ 'subject.actions' | translate }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-subject>
        <tr>
          <td (click)="viewSubject(subject._id)">{{ subject.subjectName }}</td>
          <td>{{ subject.courseTime }}</td>
          <td>{{ subject.typeOfTime || ('subject.n/a' | translate) }}</td>
          <td>{{ subject.createdAt | date:'shortDate' }}</td>
          <td>{{ subject.updatedAt | date:'shortDate' }}</td>
          <td>
            <p-menu #menu [model]="subjectAction" appendTo="body" [popup]="true">
              <ng-template pTemplate="item" let-item>
                <div class="p-menuitem-link" (click)="handleClick(item.label,subject)">
                  <span [class]="item.icon"></span>
                  <span class="mx-2">{{ item.label }}</span>
                </div>
              </ng-template>
            </p-menu>
            <p-button (onClick)="menu.toggle($event)" text icon="pi pi-ellipsis-v" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </app-state-section>
</p-card>
