<app-state-section [state]="sectionState">
  <h1 mat-dialog-title>Add New Topic</h1>

  <div mat-dialog-content>
    <form [formGroup]="addStudentForm" class="d-flex flex-column gap-3">

      <input type="hidden" formControlName="classRoom" *ngIf="data.classRoomId" />

      <div class="field d-flex flex-column gap-2" *ngIf="!data.classRoomId">
        <label for="room" class="form-label">Room</label>
        <app-lazy-dropdown id="romm" [lookup]="Lookup.ClassRooms" formControlName="classRoom"
          placeholder="Enter Room name"></app-lazy-dropdown>
        <small *ngIf="addStudentForm.get('classRoom')?.hasError('required') && addStudentForm.get('classRoom')?.touched"
          class="p-error">
          Room Name is required
        </small>
      </div>

      <div class="field d-flex flex-column gap-2">
        <label for="student" class="form-label">Student</label>
        <app-lazy-dropdown id="student" [multiply]="!data.studentId ? true : false" [lookup]="Lookup.Students"
          formControlName="student" placeholder="Enter Student name"></app-lazy-dropdown>
        <small *ngIf="addStudentForm.get('student')?.hasError('required') && addStudentForm.get('student')?.touched"
          class="p-error">
          Student is required
        </small>
      </div>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="addStudentForm.invalid" (click)="onSave()">Save</button>
  </div>
</app-state-section>