<h2>Welcome to SoriConnect! 👋</h2>
<p>We are pleased to inform you that a payment has been successfully received. The transaction details are as follows:</p>
<ul>
    <li><strong>Amount:</strong>[amount] [currency]</li>
    <li><strong>From:</strong>[userName]</li>
    <li><strong>Date:</strong>[paidDate]</li>
    <li><strong>Transaction ID:</strong> [transactionId]</li>
</ul>
<p>You can view your invoices using the link below:</p>
<p><a href="https://soriconnect.com/" target="_blank">Check Your Invoices</a></p>
<p>Thank you for your trust in our platform. If you have any questions or need further assistance, feel free to contact us.</p>
<p>Best regards,<br>SoriConnect Team</p>