<app-state-section [state]="sectionState">
  <h2 mat-dialog-title>{{ 'invoice.addInvoice' | translate }}</h2>

  <mat-dialog-content>
    <form [formGroup]="invoiceForm" class="d-flex flex-column gap-3">
      <!-- School ID Input -->
      <div class="field d-flex flex-column gap-2">
        <label for="schoolId" class="form-label">{{ 'invoice.schoolId' | translate }}</label>
        <app-lazy-dropdown for="schoolId" [lookup]="Lookup.Schools" formControlName="schoolId"></app-lazy-dropdown>
        <small *ngIf="invoiceForm.get('schoolId')?.hasError('required') && invoiceForm.get('schoolId')?.touched"
          class="p-error">
          {{ 'invoice.schoolRequired' | translate }}
        </small>
      </div>

      <!-- Amount -->
      <div class="p-field">
        <label for="amount" class="d-block mb-2">{{ 'invoice.amount' | translate }}</label>
        <input id="amount" pInputText formControlName="amount"
          class="d-block p-inputtext-lg w-100" placeholder="{{ 'invoice.amount' | translate }}" />
        <small *ngIf="invoiceForm.get('amount')?.invalid && invoiceForm.get('amount')?.touched"
          class="p-error">
          {{ 'invoice.amountRequired' | translate }}
        </small>
      </div>

      <!-- File Upload -->
      <div class="field d-flex flex-column gap-2">
        <label for="media" class="form-label">{{ 'invoice.attachMedia' | translate }}</label>
        <p-fileUpload name="media" (onSelect)="onSelect($event)" accept="image/*" maxFileSize="1000000"
          [customUpload]="true" [chooseLabel]="'invoice.selectMedia' | translate" [showUploadButton]="false">
        </p-fileUpload>
        <small *ngIf="imageError" class="p-error">{{ imageError }}</small>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'invoice.cancel' | translate }}</button>
    <button mat-button [disabled]="invoiceForm.invalid" (click)="addInvoice()">{{ 'invoice.addInvoice' | translate }}</button>
  </mat-dialog-actions>
</app-state-section>
