<app-state-section [state]="sectionState">
  <h2 mat-dialog-title>Add Invoice</h2>

  <mat-dialog-content>
    <form [formGroup]="invoiceForm" class="d-flex flex-column gap-3">
      <!-- School ID Input -->
      <div class="field d-flex flex-column gap-2">
        <label for="schoolId" class="form-label">School ID</label>
        <app-lazy-dropdown for="schoolId" [lookup]="Lookup.Schools" formControlName="schoolId"></app-lazy-dropdown>
        <small *ngIf="invoiceForm.get('schoolId')?.hasError('required') && invoiceForm.get('schoolId')?.touched"
          class="p-error">
          School is required
        </small>
      </div>

      <!-- File Upload -->
      <div class="field d-flex flex-column gap-2">
        <label for="media" class="form-label">Attach Media</label>
        <p-fileUpload name="media" (onSelect)="onSelect($event)" accept="image/*" maxFileSize="1000000"
          [customUpload]="true" chooseLabel="Select Media" [showUploadButton]="false">
        </p-fileUpload>
        <small *ngIf="imageError" class="p-error">{{ imageError }}</small>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="invoiceForm.invalid" (click)="addInvoice()">Add Invoice</button>
  </mat-dialog-actions>
</app-state-section>
