<h2 mat-dialog-title>{{ 'subject.editSubject' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="editSubjectForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="subjectName">{{ 'subject.subjectName' | translate }}</label>
      <input pInputText id="subjectName" formControlName="subjectName" class="p-inputtext" />
      <div *ngIf="editSubjectForm.get('subjectName')?.invalid && editSubjectForm.get('subjectName')?.touched"
        class="error">
        <small *ngIf="editSubjectForm.get('subjectName')?.errors?.['required']">{{ 'subject.subjectNameRequired' | translate }}</small>
      </div>
    </div>

    <div class="p-field mt-2">
      <label for="courseTime">{{ 'subject.courseTime' | translate }}</label>
      <input pInputText id="courseTime" formControlName="courseTime" class="p-inputtext" />
      <div *ngIf="editSubjectForm.get('courseTime')?.invalid && editSubjectForm.get('courseTime')?.touched"
        class="error">
        <small *ngIf="editSubjectForm.get('courseTime')?.errors?.['required']">{{ 'subject.courseTimeRequired' | translate }}</small>
      </div>
    </div>

    <div class="mat-dialog-actions">
      <button mat-button mat-dialog-close="">{{ 'subject.cancel' | translate }}</button>
      <button mat-button color="primary" [disabled]="editSubjectForm.invalid" type="submit">{{ 'subject.save' | translate }}</button>
    </div>
  </form>
</mat-dialog-content>
