<p-card header="School Details" class="classroom-card">
  <app-state-section [state]="sectionState">

    <!-- School Information -->
    <div>
      <h3 class="d-flex gap-2 align-items-center">
        <i class="pi pi-building"></i>
        <span>{{ school.schoolName }}</span>
      </h3>

      <p class="d-flex gap-2 align-items-center">
        <i class="pi pi-money-bill"></i>
        <strong>Subscription Fees:</strong>
        <span>{{ school.subscriptionFees }} {{school.currencyOfSubscription}}</span>
      </p>

      <p class="d-flex gap-2 align-items-center">
        <i class="pi pi-calendar"></i>
        <strong>Subscription Way:</strong>
        <span>{{ school.subscriptionWay }}</span>
      </p>

      <div class="d-flex gap-2 align-items-center">
        <i class="pi pi-circle-on"></i>
        <strong>Subscription Status:</strong>
        <span class="status-tag" [ngClass]="{
          'status-active': school.subscriptionStatus === 'active',
          'status-pending': school.subscriptionStatus === 'pending',
          'status-inactive': school.subscriptionStatus === 'inactive'
        }">{{ school.subscriptionStatus }}</span>

        <div>
          <p-menu #menu [model]="subscriptionAction" appendTo="body" [popup]="true">
            <ng-template pTemplate="item" let-item>
              <div class="p-menuitem-link" (click)="handleClick(item.label,student)">
                <span [class]="item.icon"></span>
                <span class="mx-2">{{ item.label }}</span>
              </div>
            </ng-template>
          </p-menu>
          <p-button (onClick)="menu.toggle($event)" text icon="pi pi-ellipsis-v" />
        </div>
      </div>

      <div class="mt-2">
        <small><strong>Created At:</strong> {{ school.createdAt | date: 'short' }}</small>
      </div>
    </div>

    <!-- Tabs for Details -->
    <div class="mt-4">
      <p-tabView>
        <p-tabPanel header="Admin Details">
          <div class="row">
            <div class="col-6">
              <p class="d-flex gap-2 m-0 align-items-center">
                <i class="pi pi-user"></i>
                <span class="d-flex align-items-center">
                  <strong>Admin Name:</strong>
                  <p-button (onClick)="goToUserProfile(school.admin?._id || '')" label='{{ school.admin?.userName }}'
                    [text]="true" severity="secondary" />
                </span>
              </p>
            </div>
            <div class="col-6">
              <p class="d-flex gap-2 align-items-center">
                <i class="pi pi-envelope"></i>
                <strong>Email:</strong>
                <span>{{ school.admin?.email }}</span>
              </p>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Subscription Info">
          <div class="row">
            <div class="col-6">
              <p class="d-flex gap-2 align-items-center">
                <i class="pi pi-calendar"></i>
                <strong>Subscription Date:</strong>
                <span>{{ school.subscriptionDate | date:'medium' }}</span>
              </p>
            </div>
            <div class="col-6">
              <p class="d-flex gap-2 align-items-center">
                <i class="pi pi-calendar"></i>
                <strong>Subscription End Date:</strong>
                <span>{{ school.endOfSubscription| date:'medium' }}</span>
              </p>
            </div>
            <div class="col-6">
              <p class="d-flex gap-2 align-items-center">
                <i class="pi pi-circle-on"></i>
                <strong>Subscription Status:</strong>
                <span>{{ school.subscriptionStatus }}</span>
              </p>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </app-state-section>
</p-card>
