<app-state-section [state]="sectionState">
  <p-card class="classroom-list-card">
    <div class="d-flex justify-content-between align-items-center px-3 pt-3">
      <h2 class="header">{{ 'classroom.classroomList' | translate }}</h2>
      <p-button text label="{{ 'classroom.export' | translate }}" icon="pi pi-file-export" (onClick)="handleExport()" />
    </div>
    <p-table [value]="classrooms" dataKey="_id" [paginator]="true" [rows]="pageSize"
      [totalRecords]="totalRowsCount" (onPage)="paginate($event)" [rowsPerPageOptions]="rowsPerPageOptions"
      responsiveLayout="scroll" class="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'classroom.room' | translate }}</th>
          <th>{{ 'classroom.group' | translate }}</th>
          <th>{{ 'classroom.teachers' | translate }}</th>
          <th>{{ 'classroom.mainTopics' | translate }}</th>
          <th>{{ 'classroom.studentCost' | translate }}</th>
          <th>{{ 'classroom.schedule' | translate }}</th>
          <th>{{ 'classroom.actions' | translate }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-classroom>
        <tr>
          <td (click)="viewDetails(classroom._id)">{{ classroom.room }}</td>
          <td>{{ classroom.group }}</td>
          <td>
            <ul>
              <li *ngFor="let teacher of classroom.teachers">{{ teacher.teacherName }}</li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let topic of classroom.mainTopics">{{ topic.topicName }}</li>
            </ul>
          </td>
          <td>{{ classroom.studentCost }} {{ classroom.currencyOfCost | uppercase }}</td>
          <td>
            <p-accordion>
              <p-accordionTab header="{{ 'classroom.viewSchedule' | translate }}">
                <ul>
                  <li *ngFor="let day of classroom.schedule">
                    <strong>{{ day.day }}</strong>
                    <ul>
                      <li *ngFor="let domain of day.domains">
                        {{ domain.domainName }} ({{ domain.startTime }} - {{ domain.endTime }})
                      </li>
                    </ul>
                  </li>
                </ul>
              </p-accordionTab>
            </p-accordion>
          </td>
          <td>
            <p-menu #menu [model]="classroomActions" appendTo="body" [popup]="true">
              <ng-template pTemplate="item" let-item>
                <div class="p-menuitem-link" (click)="handleClick(item.label,classroom)">
                  <span [class]="item.icon"></span>
                  <span class="mx-2">{{ item.label }}</span>
                </div>
              </ng-template>
            </p-menu>
            <p-button (onClick)="menu.toggle($event)" text icon="pi pi-ellipsis-v" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</app-state-section>
