<div class="ticket-list">
  <p-card>
    <div *ngFor="let ticket of tickets" class="card mb-3 ticket-card">
      <div class="d-flex align-items-center p-3">
        <img src="assets/img/profile.jpg" alt="Profile Picture" class="rounded-circle me-3" width="50" />
        <div class="flex-grow-1">
          <h5 class="mb-1">{{ ticket.userOne.userName }}</h5>
          <p class="mb-0 text-muted">{{ ticket.messages[ticket.messages.length - 1].message }}</p>
        </div>
        <div class="text-end ms-auto">
          <span class="text-muted">{{ getTimeAgo(ticket.createdAt) }}</span>
        </div>
      </div>
    </div>
  </p-card>
</div>
