<app-state-section>
  <div class="ticket-list me-3">
    <p-card>
      <ng-template pTemplate="header">
        <div class="d-flex flex-column p-3 pb-0">
          <h5>{{ 'ticket.header' | translate }}</h5>
          <div [formGroup]="receiverForm" class="row g-2">
            <div class="col-12">
              <label for="receiver" class="form-label">{{ 'ticket.startNewTicket' | translate }}</label> <!-- Use wrapped translation key -->
              <app-lazy-dropdown for="receiver" [lookup]="Lookup.AllUsers" [placeholder]="'ticket.receiver' | translate" formControlName="receiver"></app-lazy-dropdown>
            </div>
            <button
              pButton
              type="button"
              icon="pi pi-send"
              class="col-12"
              [disabled]="receiverForm.invalid"
              (click)="onClickOpenNewTicket(receiverForm.get('receiver')?.value)"
            ></button>
          </div>
          <p-divider></p-divider>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <div *ngIf="tickets?.length; else noTickets" class="list-container" #scrollContainer (scroll)="onScroll()">
          <div *ngFor="let ticket of tickets" class="card mb-3 ticket-card" (click)="openTicketDetails(ticket)">
            <div class="d-flex align-items-center p-1" [ngClass]="{'fw-bolder read': ticket.read.userId === userId ? !ticket.read.isRead : null }">
              <img src="assets/img/profile.jpg" alt="Profile Picture" class="rounded-circle me-3" width="50" />
              <div class="flex-grow-1">
                <h5 class="mb-0" style="margin-top: 10px;" *ngIf="ticket.userOne.userId !== userId">{{ ticket.userOne.userName }}</h5>
                <h5 class="mb-0" style="margin-top: 10px;" *ngIf="ticket.userTwo.userId !== userId">{{ ticket.userTwo.userName }}</h5>
                <small>
                  <p class="mb-0 text-muted" *ngIf="ticket.messages.length">{{ ticket.messages[ticket.messages.length - 1].message }}</p>
                </small>
              </div>
              <div class="text-end ms-auto">
                <small><span class="text-muted">{{ getTimeAgo(ticket) }}</span></small>
              </div>
            </div>
          </div>

          <div *ngIf="sectionState === sectionStateStatus.Loading" class="text-center">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>

  <ng-template #noTickets>
    <div class="no-Tickets">
      <i class="pi pi-info-circle"></i>
      <p>{{ 'ticket.noTickets' | translate }}</p>
    </div>
  </ng-template>
</app-state-section>
