.ticket-list{
  height: 89vh;
  ::ng-deep .p-card{
    height: 100%;
  }
  ::ng-deep .p-card-body{
    height: 73%;
    padding:6px;
    padding-top: 0;
  }
  ::ng-deep .p-card-content{
    height: 100%;
    padding:0 10px;
  }
}

.list-container{
  height: 100%;
  overflow-y: auto;
}

.read{
  background-color: #f5f5f5;
  border-radius: 8px;
}

.ticket-card:hover{
  background-color: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
}

.no-Tickets{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
