<h2 mat-dialog-title>{{ 'student.addCommentTitle' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="commentForm" class="d-flex flex-column gap-3">
    <div class="field d-flex flex-column gap-2">
      <label for="comment" class="form-label">{{ 'student.commentLabel' | translate }}</label>
      <textarea class="p-2" id="comment" rows="5" cols="30" pInputTextarea formControlName="comment"></textarea>
      <small *ngIf="commentForm.get('comment')?.hasError('required') && commentForm.get('comment')?.touched"
        class="p-error">
        {{ 'student.commentRequired' | translate }}
      </small>
    </div>

    <div class="field d-flex flex-column gap-2">
      <label for="media" class="form-label">{{ 'student.attachMediaLabel' | translate }}</label>
      <p-fileUpload [showUploadButton]="false" name="demo[]" (onSelect)="onUpload($event)" (onRemove)="clear($event)"
        accept="image/jpg, image/jpeg, image/png" maxFileSize="400000">
      </p-fileUpload>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'student.cancel' | translate }}</button>
  <button mat-button (click)="addComment()" [disabled]="commentForm.invalid">{{ 'student.addComment' | translate }}</button>
</mat-dialog-actions>
