<form [formGroup]="classroomForm" class="classroom-card">

  <!-- Room Input -->
  <div class="row">
    <div class="col-12">
      <div class="field">
        <label for="room" class="form-label">{{ 'classroom.room' | translate }}</label>
        <input id="room" type="text" pInputText formControlName="room" placeholder="{{ 'classroom.enterRoomNumber' | translate }}" class="p-inputtext-sm" />
        <small *ngIf="classroomForm.get('room')?.invalid && classroomForm.get('room')?.touched" class="p-error">
          {{ 'classroom.roomRequired' | translate }}
        </small>
      </div>
    </div>

    <!-- Student Cost -->
    <div class="col-12">
      <div class="row">
        <div class="field col-8">
          <label for="studentCost" class="form-label">{{ 'classroom.studentCost' | translate }}</label>
          <input id="studentCost" type="number" class="w-100" pInputText formControlName="studentCost" placeholder="{{ 'classroom.enterCost' | translate }}" class="p-inputtext-sm" />
          <small *ngIf="classroomForm.get('studentCost')?.invalid && classroomForm.get('studentCost')?.touched" class="p-error">
            {{ 'classroom.studentCostRequired' | translate }}
          </small>
        </div>
        <div class="col-4">
          <label for="currencyOfCost" class="form-label">{{ 'classroom.currency' | translate }}</label>
          <app-lazy-dropdown [lookup]="Lookup.Currency" placeholder="{{ 'classroom.currency' | translate }}" formControlName="currencyOfCost"></app-lazy-dropdown>
          <small *ngIf="classroomForm.get('currencyOfCost')?.invalid && classroomForm.get('currencyOfCost')?.touched" class="p-error">
            {{ 'classroom.currencyRequired' | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <!-- Teachers MultiSelect -->
  <div class="row">
    <div class="col-12">
      <div class="field">
        <label for="teachers" class="form-label">{{ 'classroom.teachers' | translate }}</label>
        <app-lazy-dropdown [multiply]="true" id="teachers" [lookup]="Lookup.Users"  placeholder="{{ 'classroom.teachers' | translate }}" [lookUpExtraParams]="{role:UserRole.Teacher}" formControlName="teachersId"></app-lazy-dropdown>
        <small *ngIf="classroomForm.get('teachersId')?.invalid && classroomForm.get('teachersId')?.touched" class="p-error">
          {{ 'classroom.atLeastOneTeacherRequired' | translate }}
        </small>
      </div>
    </div>

    <!-- Group -->
    <div class="col-12">
      <div class="field">
        <label for="group" class="form-label">{{ 'classroom.group' | translate }}</label>
        <app-lazy-dropdown id="group" [lookup]="Lookup.Groups" formControlName="group" placeholder="{{ 'classroom.enterGroup' | translate }}"></app-lazy-dropdown>
        <small *ngIf="classroomForm.get('group')?.invalid && classroomForm.get('group')?.touched" class="p-error">
          {{ 'classroom.groupRequired' | translate }}
        </small>
      </div>
    </div>
  </div>

  <!-- Schedule Section -->
  <p-divider align="left">
    <b>{{ 'classroom.classSchedule' | translate }}</b>
  </p-divider>

  <div class="row g-2 mb-4">
    <div formArrayName="schedule" class="schedule-section" [ngClass]="!InitializeValue ? 'col-lg-6 col-xl-4 col-12' :'col-12'" *ngFor="let scheduleItem of scheduleControls.controls; let i = index">
      <div [formGroupName]="i" class="schedule-item">
        <div class="mb-4">
          <label for="day-{{i}}" class="form-label">{{ 'classroom.day' | translate }}</label>
          <app-lazy-dropdown [lookup]="days" placeholder="{{ 'classroom.selectDay' | translate }}" id="day-{{i}}" formControlName="day"></app-lazy-dropdown>
          <small *ngIf="getSchedule(i).get('day')?.invalid && getSchedule(i).get('day')?.touched" class="p-error">
            {{ 'classroom.dayRequired' | translate }}
          </small>
        </div>

        <div class="subjects-section">
          <label class="form-label">{{ 'classroom.subjects' | translate }}</label>
          <p-divider></p-divider>
          <div formArrayName="subjects" *ngFor="let subject of getSubjects(i).controls; let j = index">
            <div [formGroupName]="j" class="mb-2">
              <div class="row">
                <div class="col-5">
                  <label for="subject-{{i}}-{{j}}" class="form-label">{{ 'classroom.subject' | translate }}</label>
                  <app-lazy-dropdown [lookup]="Lookup.Subjects" id="subject-{{i}}-{{j}}" formControlName="subjectId" placeholder="{{ 'classroom.enterSubject' | translate }}"></app-lazy-dropdown>
                  <small *ngIf="getSubjects(i).get([j, 'subjectId'])?.invalid && getSubjects(i).get([j, 'subjectId'])?.touched" class="p-error">
                    {{ 'classroom.subjectRequired' | translate }}
                  </small>
                </div>
                <div class="col-5">
                  <label for="startTime-{{i}}-{{j}}" class="form-label">{{ 'classroom.startTime' | translate }}</label>
                  <p-calendar formControlName="startTime" id="startTime-{{i}}-{{j}}" timeOnly hourFormat="24" placeholder="{{ 'classroom.startTime' | translate }}" class="p-inputtext-sm"></p-calendar>
                  <small *ngIf="getSubjects(i).get([j, 'startTime'])?.invalid && getSubjects(i).get([j, 'startTime'])?.touched" class="p-error">
                    {{ 'classroom.startTimeRequired' | translate }}
                  </small>
                </div>
                <div class="col-1">
                  <button *ngIf="getSubjects(i).controls.length > 1" pButton icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" class="p-button-danger mt-4" (click)="removeSubject(i, j)" type="button"></button>
                </div>
              </div>
            </div>
          </div>
          <p-divider align="left">
            <button pButton icon="pi pi-plus" (click)="addSubject(i)" [rounded]="true" [text]="true" type="button"></button>
          </p-divider>
        </div>
        <button *ngIf="scheduleControls.length > 1" pButton icon="pi pi-trash" class="p-button-danger mt-2 w-100" (click)="removeScheduleItem(i)" type="button"></button>
      </div>
    </div>

    <div class="schedule-section d-flex justify-content-center align-items-center" [ngClass]="!InitializeValue ? 'col-lg-6 col-xl-4 col-12' :'col-12'">
      <button pButton icon="pi pi-plus" class="p-button-lg mt-0" [rounded]="true" [outlined]="true" (click)="addScheduleItem()" type="button"></button>
    </div>
  </div>

  <!-- Main Topics -->
  <div class="row w-100">
    <div class="col-12 w-100">
      <div class="field w-100">
        <label for="mainTopics" class="form-label">{{ 'classroom.mainTopics' | translate }}</label>
        <app-lazy-dropdown [multiply]="true" [lookup]="Lookup.Topics" placeholder="{{ 'classroom.enterTopics' | translate }}" id="mainTopics" formControlName="mainTopics"></app-lazy-dropdown>
      </div>
    </div>
  </div>
</form>
