<app-state-section [state]="sectionState">
  <div class="card shadow-sm p-4">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-center mb-4">{{ 'invoice.listTitle' | translate }}</h3>

      <p-button (onClick)="openInvoiceDialog()" severity="success"  label="{{ 'invoice.addButton' | translate }}" icon="pi pi-receipt" />
    </div>

    <p-table [value]="invoices" class="p-datatable-striped" [paginator]="true" [rows]="pageSize"
      [totalRecords]="totalRowsCount" (onPage)="paginate($event)" [rowsPerPageOptions]="rowsPerPageOptions" [lazy]="true"
      responsiveLayout="scroll">

      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'invoice.transactionId' | translate }}</th>
          <th>{{ 'invoice.schoolName' | translate }}</th>
          <th>{{ 'invoice.adminName' | translate }}</th>
          <th>{{ 'invoice.amount' | translate }}</th>
          <th>{{ 'invoice.media' | translate }}</th>
          <th>{{ 'invoice.status' | translate }}</th>
          <th>{{ 'invoice.createdAt' | translate }}</th>
          <th>{{ 'invoice.updatedAt' | translate }}</th>
          <th>{{ 'invoice.actions' | translate }}</th>
        </tr>
      </ng-template>

      <ng-template let-invoice pTemplate="body">
        <tr>
          <td>{{ invoice.transactionId }}</td>
          <td>{{ invoice.school.schoolName }}</td>
          <td>{{ invoice.admin.adminName }}</td>
          <td>{{ invoice.amount }}</td>

          <!-- Media Attachment -->
          <td>
            <ng-container *ngIf="invoice.media; else noMedia">
              <ng-container *ngIf="invoice.media | isImage; else downloadFile">
                <img
                  (click)="openMediaDialog(invoice.media)"
                  [src]="invoice.media"
                  [alt]="'invoice.mediaAltText' | translate"
                  class="img-fluid cursor-pointer"
                  width="100"
                  height="100" />
              </ng-container>

              <ng-template #downloadFile>
                <p-button text (click)="downloadFileBase(invoice.media)" label="{{ 'invoice.downloadMediaText' | translate }}">
                </p-button>
              </ng-template>
            </ng-container>

            <ng-template #noMedia>
              <p>{{ 'invoice.noMediaText' | translate }}</p>
            </ng-template>
          </td>

          <!-- Status -->
          <td>
            <span class="status-tag" [ngClass]="{
              'status-active': invoice.invoiceStatus === 'paid',
              'status-pending': invoice.invoiceStatus === 'pending',
            }">{{ invoice.invoiceStatus }}</span>
          </td>

          <!-- Created At -->
          <td>{{ invoice.createdAt | date }}</td>

          <!-- Updated At -->
          <td>{{ invoice.updatedAt | date }}</td>

          <!-- Actions -->
          <td>
            <button pButton type="button" label="{{ 'invoice.edit' | translate }}" icon="pi pi-pencil"
              class="p-button-sm p-button-warning" (click)="editInvoice(invoice)"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">{{ 'invoice.noInvoicesFound' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</app-state-section>
