<app-state-section [state]="sectionState">
  <h2 mat-dialog-title>{{ 'activity.editActivityName' | translate }}</h2>
  <mat-dialog-content>
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="activityName">{{ 'activity.activityName' | translate }}</label>
        <input pInputText id="activityName" formControlName="activityName" class="p-inputtext" />
        <div *ngIf="activityForm.get('activityName')?.invalid && activityForm.get('activityName')?.touched" class="p-error">
          <small *ngIf="activityForm.get('activityName')?.errors?.['required']">{{ 'activity.activityNameRequired' | translate
            }}</small>
          <small *ngIf="activityForm.get('activityName')?.errors?.['minlength']">{{ 'activity.activityNameMinLength' | translate
            }}</small>
        </div>
      </div>

      <div class="p-field my-2">
        <label>{{ 'activity.materialName' | translate }}</label>

        <div formArrayName="materials">
          <div *ngFor="let material of materials.controls; let i = index" [formGroupName]="i" class="d-flex gap-2 align-items-center">
            <input
              pInputText
              formControlName="materialName"
              class="p-inputtext"
              [placeholder]="'addActivityDialog.materialPlaceholder' | translate"
            />
            <button
              *ngIf="materials.length > 1"
              type="button"
              pButton
              icon="pi pi-trash"
              class="p-button-danger p-button-sm"
              (click)="removeMaterial(i)"
            >
            </button>
          </div>
        </div>

        <button type="button" pButton label="{{ 'addActivityDialog.addMaterial' | translate }}" class="p-button-sm w-100 mt-2" (click)="addMaterial()"></button>
      </div>

      <div class="mat-dialog-actions">
        <button mat-button mat-dialog-close>{{ 'activity.cancel' | translate }}</button>
        <button mat-button [disabled]="activityForm.invalid" type="submit">{{ 'activity.update' | translate }}</button>
      </div>
    </form>
  </mat-dialog-content>
</app-state-section>
